body{
    background-color: darkgray;
}

.body-container{

    width: 600px;
    height: auto;
    margin: 0px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgrey;
}


.player-container span{
    font-weight: bold;
    font-size: 24px;
    padding-right: 5px;
    padding-left: 2px;
    border: solid black 1px;
    border-radius: 5px;
    
}

.player-container button {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;

}

.nav-container{
    text-align: center;
    margin: 5px auto;
    width: 350px;
    height: 85px;
    border: 2px solid black;

}

.nav-container h3{
    padding-top: -10px;

}

