body{
    background-color: rgb(58, 63, 66)
    ;
}

.body-container{

    width: 1000px;
    height: auto;
    margin: 0px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(73, 79, 82);
    color: whitesmoke;
    
}


.player-container{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    
}

.player-container span{
    font-weight: bold;
    font-size: 36px;
    padding-right: 5px;
    padding-left: 2px;
    margin: 0px 15px 0 0;
    border: solid black 1px;
    border-radius: 5px;
    
    
}

.player-container button {
    font-size: 30px;
    margin-left: 5px;

}

.nav-container{
    text-align: center;
    margin: 5px auto;
    width: 500px;
    height: 85px;

    

}

.nav-container h3{
    padding-top: -10px;
    margin-bottom: -5px;
    font-size: 34px;

}


.nav-container button {
    font-size: 20px;
    
}
